cocotb @ git+https://github.com/cocotb/cocotb.git@1749b85dfb7898db9096d00ee31ec5369c3f5ff6
cocotb-bus @ git+https://github.com/cocotb/cocotb-bus.git@2c846dca8d3293b7676c70dd51dbc9c7f51029f0
cocotbext-axi==0.1.24
contourpy==1.1.1
cycler==0.11.0
find-libpython==0.3.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.1
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
scipy==1.11.2
six==1.16.0
